# 16. Lambda function in python

 * __A Lambda function is a small anonymous function.__
 * __A Lambda function can take any number of arguments, but only have one expressions.__
 * __The expressions is eveluated and returned.__
 * __Lambda expressions(or lambda fucntions) essentially a blocks of code that can be assigned to variable, passed as an arugments, or returned from a function call, In language that support high-order functions.__
 * __The Main role of lambda function is better described in the scenerious when we employ them anonymously inside another funcitons.__
 * __In Python, the lambda function can be utilized as an arguments to the higher-order functions an an arugments.__
 * __Lamdba fucntion in Python have:__
 * __syntax:__
   * __Normal Functions__
   * __Anonymous function__
 * __Usages__
   * __Lambda with filters()__
   * __Lambda with map()__
   * __Lambda with apply()__
   * __Lambda with reduce()__
 * __CommonErrors__
   * __SyntaxError__
   * __TypeError__

In [1]:
def sum1(x,y):
    return x+y

sum1(10,12)

22

In [2]:
sum1(20,22)

42

In [4]:
(lambda x,y:x+y)(20,22)

42

In [5]:
# find the square of a number

def sqrNum(a):
    return a**2

sqrNum(10)

100

In [6]:
(lambda a:a**2)(10)

100

In [8]:
# Normal function

# sqrRoot : squreroot(64)

import math

math.sqrt(64)

8.0

In [10]:
def sqrtNumber(a):
    return math.sqrt(a)

sqrtNumber(99)

9.9498743710662

In [11]:
(lambda b:math.sqrt(b))(10)

3.1622776601683795

In [12]:
def sqrtNumber(a):
    return math.sqrt(a)
a1 = int(input("Enter any number: "))
sqrtNumber(a1)

Enter any number:  66

8.12403840463596

In [13]:
value=int(input("Enter any value:"))
(lambda a:math.sqrt(a))(value)

Enter any value: 45

6.708203932499369

In [14]:
# find the sum of two numbers from user input

x=int(input("Enter first value:"))
y=int(input("Enter second value:"))
(lambda x,y:x+y)(x,y)

Enter first value: 12
Enter second value: 55

67

In [15]:
a = int(input("Enter first value: "))
b = int(input("Enter second value: "))
(lambda a,b: a+b)(a,b)

Enter first value:  78
Enter second value:  99

177

In [17]:
arrayList = [1,2,3,4,5,6,7,8,9,10]

evenList = []
oddList = []
for i in arrayList:
    if i%2 == 0:
        # print(i)
        evenList.append(i)
    else:
        oddList.append(i)
print("Even List is:",evenList)
print("Odd List is:",oddList)

Even List is: [2, 4, 6, 8, 10]
Odd List is: [1, 3, 5, 7, 9]

In [18]:
# Lambda with filter()

# Normal function 

def evenNum(a):
    return a%2 ==0

In [20]:
# filter(function, sequence)
arrayList = [1,2,3,4,5,6,7,8,9,10]
list(filter(evenNum, arrayList))

[2, 4, 6, 8, 10]

In [21]:
# odd function 

def oddNum(x):
    return x%2!=0

In [23]:
tuple(filter(oddNum, arrayList))

(1, 3, 5, 7, 9)

In [26]:
# anonymous function 

list(filter(lambda a:a%2==0, arrayList))

[2, 4, 6, 8, 10]

In [27]:
list(filter(lambda a:a%2!=0, arrayList))

[1, 3, 5, 7, 9]

In [31]:
# pick the value more 7 characters

weekdays = ["Monday","Tuesday","Wedneday","Thursday","Friday","Saturday","Sunday"]

In [32]:
list(filter(lambda i:len(i)>7,weekdays))

['Wedneday', 'Thursday', 'Saturday']

In [29]:
weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
days=list(filter(lambda weekdays: len(weekdays)>7,weekdays))
print(days)

['Wednesday', 'Thursday', 'Saturday']

In [30]:
weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
days=list(filter(lambda days: len(days)>7,weekdays))
print(days)

['Wednesday', 'Thursday', 'Saturday']

In [34]:
list(filter(lambda i:len(i)<=7,weekdays))

['Monday', 'Tuesday', 'Friday', 'Sunday']

In [4]:
# lambda with map()

# sqr of the number
list1 = [1,2,3,4,5,6,7,8,9,10]

def sqrNum(a):
    return a**2


sqrNum(10)

100

In [6]:
# syntax:
# map(function, sequence)

list(map(sqrNum, list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# anonymous function 

tuple(map(lambda a:a**2,list1))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [12]:
# find the cube of the number 

list1 = [1,2,3,4,5,6,7,8,9,10]


def cubeNum(x):
    return x**3


cubeNum(10)

1000

In [14]:
# normal function 

tuple(map(cubeNum, list1))

(1, 8, 27, 64, 125, 216, 343, 512, 729, 1000)

In [16]:
# anonymous function

list(map(lambda y:y**3, list1))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [19]:
# lambda with reduce 

# reduce(function, sequence/iterable)


from functools import reduce


def sumValue(x,y):
    return x+y

In [20]:
reduce(sumValue,list1)

55

In [22]:
reduce(lambda i,j:i+j, list1)

55

In [23]:
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

In [18]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial], /) -> value

    Apply a function of two arguments cumulatively to the items of an iterable, from left to right.

    This effectively reduces the iterable to a single value.  If initial is present,
    it is placed before the items of the iterable in the calculation, and serves as
    a default when the iterable is empty.

    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
    calculates ((((1 + 2) + 3) + 4) + 5).

In [27]:
# lambda with apply 

from pandas import pandas

In [30]:
# help(pandas)

In [31]:
import pandas as pd

In [40]:
x1 = [1,2,3,4,5,6,7,8,9,10]  # series

print(x1,type(x1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>

In [41]:
df2 = pd.DataFrame(x1)
df2

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [46]:
# 2-d [Rows, coloumns]

x = [[1,2,3],[4,5,6],[7,8,9]]

x[2][2]

9

In [47]:
x[2][0]

7

In [49]:
df = pd.DataFrame(x)  # 2-d Data 
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [50]:
df[0][1]

np.int64(4)

In [51]:
df[2][2]

np.int64(9)

In [54]:
df[0][2]

np.int64(7)

In [57]:
for i in df:
    print(df[i]**3)

0      1
1     64
2    343
Name: 0, dtype: int64
0      8
1    125
2    512
Name: 1, dtype: int64
0     27
1    216
2    729
Name: 2, dtype: int64

In [60]:
df3 = df.apply(lambda y:y**2)
df3

    0   1   2
0   1   4   9
1  16  25  36
2  49  64  81