# 3.Lists in Python

 * __Lists are ordered.__
 * __Lists can contains any value.__
 * __List elements can be accessed by Index value.__
 * __Lists are mutable.__
 * __Lists are dynamic.__

In [3]:
# Creating a list

x = ['Python',25,2000.25]
print(x)

['Python', 25, 2000.25]

In [4]:
print(type(x))

<class 'list'>

In [5]:
# creating empty list

x = []
print(x)
print(type(x))

[]
<class 'list'>

In [7]:
x = ['Python',25,2000.25]
print(x)

# Accessing index value of lists

x[0]

['Python', 25, 2000.25]

'Python'

In [8]:
x[1]

25

In [9]:
x[2]

2000.25

In [10]:
x[3]

IndexError: list index out of range

In [11]:
# Negative index value

x[-1]

2000.25

In [12]:
x[-2]

25

In [13]:
x[-3]

'Python'

In [14]:
x[-4]

IndexError: list index out of range

In [15]:
# lists 

nlis = ['Python',100,45.55,True,False,['Hello world',55],('Python','NOIDa',"True"),{1,1,1,2,52,45,5,5},{'a':True,'b':False}]
nlis

['Python',
 100,
 45.55,
 True,
 False,
 ['Hello world', 55],
 ('Python', 'NOIDa', 'True'),
 {1, 2, 5, 45, 52},
 {'a': True, 'b': False}]

In [16]:
print(nlis)

['Python', 100, 45.55, True, False, ['Hello world', 55], ('Python', 'NOIDa', 'True'), {1, 2, 52, 5, 45}, {'a': True, 'b': False}]

# slicing of value

In [23]:
x = [[['Utkarsh'],'Neeraj'],10,50,88,[40,[50,[60,['Dheeraj']]],['Dipti'],[[['Amita']],[[[10,['Aditya',]]]]],['Manisha',[[10,[20,['Anup']]]]]]]
x

[[['Utkarsh'], 'Neeraj'],
 10,
 50,
 88,
 [40,
  [50, [60, ['Dheeraj']]],
  ['Dipti'],
  [[['Amita']], [[[10, ['Aditya']]]]],
  ['Manisha', [[10, [20, ['Anup']]]]]]]

In [20]:
print (nlis[3:5])

[True, False]

In [24]:
x[0:1]

[[['Utkarsh'], 'Neeraj']]

In [ ]:
x[:0]

In [27]:
print(x[3:5])

[88, [40, [50, [60, ['Dheeraj']]], ['Dipti'], [[['Amita']], [[[10, ['Aditya']]]]], ['Manisha', [[10, [20, ['Anup']]]]]]]

In [28]:
nlis[3:5]

[True, False]

In [2]:
x = [[['Utkarsh'],'Neeraj'],10,50,88,[40,[50,[60,['Dheeraj']]],['Dipti'],[[['Amita']],[[[10,['Aditya',]]]]],['Manisha',[[10,[20,['Anup']]]]]]]
x

[[['Utkarsh'], 'Neeraj'],
 10,
 50,
 88,
 [40,
  [50, [60, ['Dheeraj']]],
  ['Dipti'],
  [[['Amita']], [[[10, ['Aditya']]]]],
  ['Manisha', [[10, [20, ['Anup']]]]]]]

In [34]:
x[0][0][0]

'Utkarsh'

In [5]:
x[0][1][3:6]

'raj'

In [6]:
x[4]

[40,
 [50, [60, ['Dheeraj']]],
 ['Dipti'],
 [[['Amita']], [[[10, ['Aditya']]]]],
 ['Manisha', [[10, [20, ['Anup']]]]]]

In [11]:
x[4][1][1][1][0][:4]

'Dhee'

In [13]:
x[4]

[40,
 [50, [60, ['Dheeraj']]],
 ['Dipti'],
 [[['Amita']], [[[10, ['Aditya']]]]],
 ['Manisha', [[10, [20, ['Anup']]]]]]

In [15]:
x[4][2][0]

'Dipti'

In [20]:
x[4][3][0][0][0]

'Amita'

In [23]:
x[4][4][0]

'Manisha'

In [33]:
x[4][4][1][0][1][1][0]

'Anup'

In [34]:
# length of the lsit

len(x)

5

# Method of the list

In [35]:
# CRUD - [Create, Read, update and Delete] --> Mutable data type

list1 = ['Python',3.147,200, True, False,[1,2,3,4,5,6],(10,20,30,40,50),{10,20,30,10,50}]
print(list1)

['Python', 3.147, 200, True, False, [1, 2, 3, 4, 5, 6], (10, 20, 30, 40, 50), {10, 20, 50, 30}]

In [36]:
# Adding elements in the list
# append() Method
# extend() method
# insert() method

In [37]:
# append(): it takes one value at a time.

list1

['Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50}]

In [38]:
list1.append('Neeraj')

In [39]:
list1

['Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj']

In [40]:
list1.append('Hello world',"Dhiraj")

TypeError: list.append() takes exactly one argument (2 given)

In [41]:
# Extend() the list
    # >> We use the extend() function to add a new element to the list.
    # >> With this funciton, we add more than one elements to the list.


list1

['Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj']

In [42]:
list1.extend(['Apple',"banana"])
list1

['Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'banana']

In [43]:
list1.append(['Apple',"banana"])
list1

['Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'banana',
 ['Apple', 'banana']]

In [44]:
# insert(): It takes exactly two parameters at one time.: First parameter is the position of element and second parameter is the value.

list1

['Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'banana',
 ['Apple', 'banana']]

In [45]:
list1.insert(0,"Aditya")
list1

['Aditya',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'banana',
 ['Apple', 'banana']]

In [46]:
# update the value in the list.

list1

['Aditya',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'banana',
 ['Apple', 'banana']]

In [48]:
list1[0]= "Aditya Patil"
list1

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'banana',
 ['Apple', 'banana']]

In [50]:
list1[11] ="Grapes"
list1

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'Grapes',
 ['Apple', 'banana']]

In [51]:
list1[12]="Neeraj"

In [52]:
list1

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'Grapes',
 'Neeraj']

In [53]:
x= ['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'Grapes',
 ['Apple', 'banana']]
x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'Grapes',
 ['Apple', 'banana']]

In [54]:
x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'Grapes',
 ['Apple', 'banana']]

In [58]:
x[7][4] = 60
x

TypeError: 'tuple' object does not support item assignment

In [61]:
x[12][1] = "PineApple"
x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'Grapes',
 ['Apple', 'PineApple']]

In [62]:
# Deleting an element in the list

x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Apple',
 'Grapes',
 ['Apple', 'PineApple']]

In [63]:
del(x[10])

In [64]:
x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Grapes',
 ['Apple', 'PineApple']]

In [65]:
# pop()

x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Grapes',
 ['Apple', 'PineApple']]

In [66]:
x.pop()

['Apple', 'PineApple']

In [67]:
x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Grapes']

In [68]:
del(x[6])

In [69]:
x

['Aditya Patil',
 'Python',
 3.147,
 200,
 True,
 False,
 (10, 20, 30, 40, 50),
 {10, 20, 30, 50},
 'Neeraj',
 'Grapes']

In [70]:
# split() fucntion

x ="Python is a programming language."
print(x,type(x))

Python is a programming language. <class 'str'>

In [71]:
y = x.split()
print(y)

['Python', 'is', 'a', 'programming', 'language.']

In [73]:
x1 = "p,y,t,h,o,n"

y1 = x1.split(",")
print(y1)

['p', 'y', 't', 'h', 'o', 'n']

In [74]:
# copy() the list


x1 = ['Python',3.147,2.718,True,False]
print(x1)

['Python', 3.147, 2.718, True, False]

In [75]:
id(x1)

2070297532736

In [76]:
# Deep() copy | sallow copy()

y1 = x1
print(y1)

['Python', 3.147, 2.718, True, False]

In [77]:
print(x1)
print(y1)

['Python', 3.147, 2.718, True, False]
['Python', 3.147, 2.718, True, False]

In [78]:
x1.append('Dipti')
print(x1)

['Python', 3.147, 2.718, True, False, 'Dipti']

In [79]:
print(y1)

['Python', 3.147, 2.718, True, False, 'Dipti']

In [80]:
id(x1)

2070297532736

In [81]:
id(y1)

2070297532736

In [82]:
# sallow copy

x1 = ['python',True,False]

y1 = x1.copy()

print(x1)
print(y1)

['python', True, False]
['python', True, False]

In [83]:
id(x1)

2070297534400

In [84]:
id(y1)

2070297272704

In [85]:
x1.append('Dheeraj')
print(x1)

['python', True, False, 'Dheeraj']

In [86]:
print(y1)

['python', True, False]

In [87]:
# concatenation the list.

a_list = ['python',True,False]
b_list = [1,2,3,4,5,6,7,8,(10,12),['a','b']]

c = a_list+b_list
print(c)

['python', True, False, 1, 2, 3, 4, 5, 6, 7, 8, (10, 12), ['a', 'b']]

In [88]:
# input() function
#     >> input() funciton in python provides a user of a program to supply inputs to the running program.

In [90]:
txt = input()

print(txt,type(txt))

 10

10 <class 'str'>

In [96]:
txt1 = int(input("Enter any value: "))
print(txt1,type(txt1))

Enter any value:  1000

1000 <class 'int'>

In [98]:
txt2 = float(input("Enter any value: "))
print(txt2,type(txt2))

Enter any value:  10

10.0 <class 'float'>

In [99]:
bool1 = float(input("Enter any value: "))
print(bool1,type(bool1))

Enter any value:  True

ValueError: could not convert string to float: 'True'

In [100]:
float(True)

1.0

In [101]:
int(False)

0

In [110]:
# eval

x = "20"
print(x,type(x))


y = eval(x)
print(y,type(y))

20 <class 'str'>
20 <class 'int'>

In [113]:
# Relation operator: [<,>,<=,>=,==,!=]
# boolean

x = 3.147
y = 1.618

print(x>y)
print(y>=x)
print(y!=x)

True
False
True

In [116]:
# identity operator

x = 10
y = 20
z = 10

print(x!=y)

True

In [115]:
print(x<y)

True

In [117]:
print(x == z)

True

In [118]:
# membership operator

x = ['python',True, False]

print('Hello' in x)

False

In [119]:
print('Python' not in x)

True

In [120]:
print('True' in x)

False

In [121]:
print(True in x)

True