# Tuples in Python

 * __Tuples are immutable lists and connot be changed in any way once it is created.__

 * __Tuples are defined in the same way as lists.__

 * __They are enclose with parentheses() and not in square brackes.__

 * __Tuples are ordered, indexed collections value.__

 * __Similar to the string indices, the first value is in [0], and second one is [1].__

 * __Tuples also has the same structure where as the commas seperated value.__

In [4]:
x= ["Neeraj"]
print(x)

['Neeraj']

In [5]:
x[0] = "M"
x

['M']

In [6]:
x1 = "Python"
print(x1)

Python

In [7]:
x1[0]

'P'

In [8]:
x1[0] = 'T'
x1

TypeError: 'str' object does not support item assignment

In [18]:
x = ['Hello world',10]
y = x[0]
print(y)
z = y.replace('world','python')
print(z)

Hello world
Hello python

In [17]:
x[0] = z
print(x)

['Hello python', 10]

In [20]:
# Creating empty tuple

x = ()
print(x,type(x))

() <class 'tuple'>

In [26]:
y = (10)
print(y,type(y))

10 <class 'int'>

In [24]:
x = [20,]
print(x,type(x))

[20] <class 'list'>

In [32]:
x = (10)

# change this value into tuple

y = tuple(x)
y

TypeError: 'int' object is not iterable

In [31]:
x = [10]

y = list(x)
y

[10]

In [33]:
tuple_1 = ('Python',True,False,[10,20,30])
print(tuple_1)

('Python', True, False, [10, 20, 30])

In [34]:
tuple_1[0] = "hello"
tuple_1

TypeError: 'tuple' object does not support item assignment

In [36]:
tuple_1[3][2] = "Neeraj"
tuple_1

('Python', True, False, [10, 20, 'Neeraj'])

In [ ]:
# Accessing index values in tuples.