# Tuples in Python

 * __Tuples are immutable lists and connot be changed in any way once it is created.__

 * __Tuples are defined in the same way as lists.__

 * __They are enclose with parentheses() and not in square brackes.__

 * __Tuples are ordered, indexed collections value.__

 * __Similar to the string indices, the first value is in [0], and second one is [1].__

 * __Tuples also has the same structure where as the commas seperated value.__

In [4]:
x= ["Neeraj"]
print(x)

['Neeraj']

In [5]:
x[0] = "M"
x

['M']

In [6]:
x1 = "Python"
print(x1)

Python

In [7]:
x1[0]

'P'

In [8]:
x1[0] = 'T'
x1

TypeError: 'str' object does not support item assignment

In [18]:
x = ['Hello world',10]
y = x[0]
print(y)
z = y.replace('world','python')
print(z)

Hello world
Hello python

In [17]:
x[0] = z
print(x)

['Hello python', 10]

In [20]:
# Creating empty tuple

x = ()
print(x,type(x))

() <class 'tuple'>

In [26]:
y = (10)
print(y,type(y))

10 <class 'int'>

In [24]:
x = [20,]
print(x,type(x))

[20] <class 'list'>

In [32]:
x = (10)

# change this value into tuple

y = tuple(x)
y

TypeError: 'int' object is not iterable

In [31]:
x = [10]

y = list(x)
y

[10]

In [2]:
tuple_1 = ('Python',True,False,[10,20,30])
print(tuple_1)

('Python', True, False, [10, 20, 30])

In [34]:
tuple_1[0] = "hello"
tuple_1

TypeError: 'tuple' object does not support item assignment

In [36]:
tuple_1[3][2] = "Neeraj"
tuple_1

('Python', True, False, [10, 20, 'Neeraj'])

In [3]:
# Accessing index values in tuples.

# Positive Index value

tuple_1

('Python', True, False, [10, 20, 30])

In [7]:
# Positive Index value:
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[3])

Python
True
False
[10, 20, 30]

In [8]:
# Negative Index value
print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])
print(tuple_1[-4])

[10, 20, 30]
False
True
Python

In [9]:
# slicing of an eleement in tuple

tuple_1

('Python', True, False, [10, 20, 30])

In [10]:
# slicing

tuple_1[1:3]

(True, False)

In [11]:
# striding value in tuple [alternate]

tuple_1

('Python', True, False, [10, 20, 30])

In [12]:
tuple_1[::2]

('Python', False)

# Concatenation of tuple

In [19]:
x_1 = ('Dheeraj',"Neeraj",True,False)

x_2 = ('Hello world',10,20)

newTuple = x_1+x_2
print(newTuple)

('Dheeraj', 'Neeraj', True, False, 'Hello world', 10, 20)

In [15]:
x = ('hello world',)
print(x,type(x))

('hello world',) <class 'tuple'>

In [21]:
firstName = "Dheeraj"
lstname = "Neeraj"
print(firstName+lstname)

DheerajNeeraj

In [23]:
# Repetation of tuple

x_1 = ('Dheeraj',"Neeraj",True,False)

3*x_1

('Dheeraj',
 'Neeraj',
 True,
 False,
 'Dheeraj',
 'Neeraj',
 True,
 False,
 'Dheeraj',
 'Neeraj',
 True,
 False)

In [24]:
3*"Dheeraj"

'DheerajDheerajDheeraj'

In [35]:
# Numerical Function

tuple_2 = (1,2,3,4,5,6,6,6,5,8,9,9,10,1)

# min(), max(), count(),len(), sum(), average() 


print("Minimum value in the tuple:",min(tuple_2))
print("Maximum value in the tuple:",max(tuple_2))
print("Count of the value:", tuple_2.count(1))
print("Length value in the tuple:",len(tuple_2))
print("Sum of the value:",sum(tuple_2))
print("Average of the tuple:",sum(tuple_2)/len(tuple_2))

Minimum value in the tuple: 1
Maximum value in the tuple: 10
Count of the value: 2
Length value in the tuple: 14
Sum of the value: 75
Average of the tuple: 5.357142857142857

In [38]:
# tup(sequence) function
# : It converts a specific sequence to a tuple

seq = "Hello world"
print(seq,type(seq))
x = tuple(seq)
print(x,type(x))

Hello world <class 'str'>
('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd') <class 'tuple'>

In [40]:
x.count('o')

2

In [43]:
# Sorting tuple

# Bubble sort
# Quick sort
# Merge sort  [Divide/Conquer]
# Selection sort
# Insertion sort
# Heap sort


tuple_3 = (0,9,7,4,5,8,2,3,6)
print(tuple_3,type(tuple_3))
sorted_tuple = sorted(tuple_3)
print(sorted_tuple,type(sorted_tuple))

(0, 9, 7, 4, 5, 8, 2, 3, 6) <class 'tuple'>
[0, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [79]:
# Nested tuple

x = ('Hello world',(10,20,((('Dheeraj',True)),("Neeraj",False))),(("Anup",100)),(50.66,"Dipti Sargar"),(('Manisha',"Aditya"),("Utkarsh",'Amita')))
print(x)

('Hello world', (10, 20, (('Dheeraj', True), ('Neeraj', False))), ('Anup', 100), (50.66, 'Dipti Sargar'), (('Manisha', 'Aditya'), ('Utkarsh', 'Amita')))

In [57]:
x[1][2][0][0]

'Dheeraj'

In [60]:
x[4][0][1]

'Aditya'

In [61]:
x[2][0]

'Anup'

In [62]:
x[4][1][1]

'Amita'

In [63]:
print(x[3][1])

Dipti Sargar

In [64]:
x[4][1][0]

'Utkarsh'

In [65]:
x[1][2][1][0]

'Neeraj'

In [67]:
x[4][0][0]

'Manisha'

In [68]:
# Tuples are immutable


# add- insert(), append(), extend()

x

('Hello world',
 (10, 20, (('Dheeraj', True), ('Neeraj', False))),
 ('Anup', 100),
 (50.66, 'Dipti Sargar'),
 (('Manisha', 'Aditya'), ('Utkarsh', 'Amita')))

In [69]:
x.append('apple')

AttributeError: 'tuple' object has no attribute 'append'

In [70]:
x.extend(['apple',20])

AttributeError: 'tuple' object has no attribute 'extend'

In [71]:
# insert

x.insert(0,'apple')

AttributeError: 'tuple' object has no attribute 'insert'

In [72]:
# pop

x.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [73]:
# del()

del(x[0])

TypeError: 'tuple' object doesn't support item deletion

In [75]:
x[0] = "apple"

TypeError: 'tuple' object does not support item assignment

In [76]:
x

('Hello world',
 (10, 20, (('Dheeraj', True), ('Neeraj', False))),
 ('Anup', 100),
 (50.66, 'Dipti Sargar'),
 (('Manisha', 'Aditya'), ('Utkarsh', 'Amita')))

In [77]:
del(x)

In [78]:
x

NameError: name 'x' is not defined

In [80]:
x

('Hello world',
 (10, 20, (('Dheeraj', True), ('Neeraj', False))),
 ('Anup', 100),
 (50.66, 'Dipti Sargar'),
 (('Manisha', 'Aditya'), ('Utkarsh', 'Amita')))

In [81]:
# index() method

# : It returns the index of the first occurrence of the value in the tuple

x

('Hello world',
 (10, 20, (('Dheeraj', True), ('Neeraj', False))),
 ('Anup', 100),
 (50.66, 'Dipti Sargar'),
 (('Manisha', 'Aditya'), ('Utkarsh', 'Amita')))

In [82]:
tuple_2 = (1,2,3,4,5,6,6,6,5,8,9,9,10,1)

In [83]:
tuple_2.index(6)

5

In [84]:
tuple_2.index(9)

10

In [85]:
tuple_2.index(1)

0

In [86]:
tuple_2.index("apple")

ValueError: tuple.index(x): x not in tuple