# 8. Loops in Python
 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dicitionary, a set or a string.)__
 * __This is less like the for keyword in other programming languges, and works more like an iterator method as foudn in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, a tuple, a set etc.__
 * __The for loop does not required an indexing varible to set beforehand.__
 * __with the while loop we can execute a set of statements as long as condition is true.__
 * __Note: while loop requires relevant variables to be ready, we need to define an indexing variable, i, which we set to 1.__


## range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() functions.__
 * __To range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default), and ends at a specified number.__

In [1]:
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [2]:
num = 10

range(10)

range(0, 10)

In [3]:
num = -10

range(-10)

range(0, -10)

In [4]:
range(1,-10,-1)

range(1, -10, -1)

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
# decrement
for dheeraj in range(10):
    print(dheeraj)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,-10,-1):
    print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [12]:
# 10
for i in range(3,5):
    print(i)

3
4

In [14]:
for i in range(1,11):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world

In [17]:
x = "Dheeraj"
# print(x)
for j in x:
    print(j)

D
h
e
e
r
a
j

In [18]:
x[0]

'D'

In [25]:
weekdays = ['Monday',"Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

for i in weekdays:
    print(i[0:2])

Mo
Tu
We
Th
Fr
Sa
Su

In [26]:
weekdays = ('Monday',"Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")

for i in weekdays:
    print(i[0:2])

Mo
Tu
We
Th
Fr
Sa
Su

In [29]:
weekdays[0][0:2]
weekdays[1][0:2]

'Tu'

In [33]:
x = {1,1,1,2,2,58,89,65,5,56,100}
print(x)

{65, 1, 2, 100, 5, 56, 89, 58}

In [34]:
for x1 in x:
    print(x1)

65
1
2
100
5
56
89
58

In [35]:
x1 = {'name':"Dhiraj","age":100,'email':'dhiraj@gmail.com'}

for i in x1:
    print(i)

name
age
email

In [36]:
for i in x1.keys():
    print(i)

name
age
email

In [40]:
for i,j in x1.items():
    print(i,":",j)

name : Dhiraj
age : 100
email : dhiraj@gmail.com

In [43]:
# 1-10 ----> 
sum1 =0 # 1, 3, 6 , 10 , 15, 21, 28, 36 , 45, 55
for i in range(1,11):  # 1+2 = 3+3 = 6+4 = 10+ 5= 15+6 = 21+7 = 28+8 = 36+9 = 45+10= 55
    sum1 = sum1+i  #  0+1 = 1, 1+2 = 3, 3+3 , 6+4 =10, 10+5, 15+6 =21, 21+7 = 28, 28+8 = 36, 36+9 = 45, 45+10 = 55
print(sum1)

55

In [53]:
# sum of 10 even numbers
sum1 = 0
for i in range(0,11,2):
    sum1 += i
print(sum1)

30

In [58]:
sum2 = 0
for x in range(11):
    if x%2 == 0:
        
        # print(x)
        sum2 += x
print(sum2)

30

In [65]:
x = "Utkarsh"

for i in range(len(x)):
    print(i,x[i])

0 U
1 t
2 k
3 a
4 r
5 s
6 h

In [63]:
x[0]

'U'

In [1]:
lang = ['C','C++',"java","Kotlin","JavaScript","Python","Anocanda","Ruby","Go","ForTran","BASIC","Swift","Android","PHP"]

for i in lang:
    print(i)

C
C++
java
Kotlin
JavaScript
Python
Anocanda
Ruby
Go
ForTran
BASIC
Swift
Android
PHP

In [2]:
range(10)

range(0, 10)

In [4]:
range(5)

range(0, 5)

In [5]:
range(6,10)

range(6, 10)

In [10]:
lang = ['c','C++',"java","Kotlin","JavaScript","Python","Anocanda","Ruby","Go","ForTran","BASIC","Swift","Android","PHP","COBOL","C#"]
# 14

for x in range(len(lang)):
    print(x,lang[x])

0 c
1 C++
2 java
3 Kotlin
4 JavaScript
5 Python
6 Anocanda
7 Ruby
8 Go
9 ForTran
10 BASIC
11 Swift
12 Android
13 PHP
14 COBOL
15 C#

In [7]:
lang[0]

'C'

In [20]:
lang = ['c','C++',"java","Kotlin","JavaScript","Python","Anocanda","Ruby","Go","ForTran","BASIC","Swift","Android","PHP","COBOL","C#"]
# 14

for x in range(len(lang)):
    if lang[x][0] == "C" or lang[x][0] == 'c':
        print(x,lang[x])

0 c
1 C++
14 COBOL
15 C#

In [26]:
# 1 - 10: break

for a in range(15):

    if a == 5:
        break
    print(a)

0
1
2
3
4

In [32]:
# continue

for i in range(1,11):
    
    if i == 5:
        print(i)
        continue
    # print(i)

5

In [34]:
# while loop 


for i in range(11,1,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [35]:
# while(condition):
#     statement
#     valueIncremnet/valueDecrement

In [1]:
i = 0 #1 , 2
j = 11

while (i<j):
    print(i)
    i = i + 1 # 0+1, 1+1 = 2

0
1
2
3
4
5
6
7
8
9
10

In [6]:
i = 0
j = 11

while j>i:
    print(j)
    j-=1

11
10
9
8
7
6
5
4
3
2
1

In [9]:
# 1 - 10
sum1 = 0
for i in range(1,11):
    sum1 = sum1 + i
    # print(i)
print(sum1)

55

In [11]:
i = 1
j = 10
sum2 = 0

while i<=j:
    # print(i)
    sum2 = sum2+i
    i+=1
print(sum2)

55

In [19]:
# break and continue in while loop

# 1 -10

a = 0
b = 10
while a<=b:
    #print(a)  # 0 - 5
    if a == 5:
        break
    #print(a)  # 0 - 4
    a+=1
    print(a)  # 1 - 5

1
2
3
4
5

In [23]:
# continue


x = 0

y = 10

while x<=y:
    # print(x)  # 0-10
    x+=1
    if x == 5:
        continue
    print(x) # 1,11  # 5 skip

1
2
3
4
6
7
8
9
10
11

In [24]:
# find the sum of even numbers from 1- 10 uisng while and for loop 

# 2,4,6,8,10

total = 0
for number in range(1, 11):
    if number % 2 == 0: 
        total += number
print(f"The sum is: {total}")

The sum is: 30

In [25]:
#while loop
i = 0
sum1 = 0
while i <= 10:
    if i%2 == 0:
        sum1 += i
    i+=1
print("Sum of even numbers : " ,sum1)

Sum of even numbers :  30

In [26]:
#for loop

sum2 = 0
for i in range(1, 11):
    if i % 2 == 0:
        sum2 += i

print("Sum of even numbers :", sum2)

Sum of even numbers : 30

In [29]:
# 1-10
# even
# sum

i = 1
j = 10

sum1 = 0
while i<=j:
    # print(i)
    if i%2==0:
        sum1 = sum1 + i
        # print(i)
    i+=1
print(sum1)

30

In [33]:
sum1=0
for i in range(1,11):
    if i%2!=0:
        sum1 = sum1+i
    # print(i)
print(sum1)

25

In [38]:
# sum of the value even, odd, and total in one code with using while loop

i = 1
j = 10
evenSum = 0
oddSum = 0
totalSum = 0

while i<=j:
    # print(i)
    if i%2 == 0:
        # print(i)
        evenSum+=i    
    else:
        oddSum+=i
        
    totalSum = totalSum + i
    i+=1
print(f"Sum of the even vlaue is:{evenSum}")
print(f"Sum of the odd vlaue is:{oddSum}")
print(f"Sum of the total vlaue is:{totalSum}")

Sum of the even vlaue is:30
Sum of the odd vlaue is:25
Sum of the total vlaue is:55

In [39]:
x=[1,2,3,4,5,6,7,8,9,10]
sum(x)

55

In [42]:
list1 = ['apple',"banana","Pomegranate","Grapes","Litchi","Mango","Guava","Watermelon","Kiwi","Pineapple","Muskmelon","Jackfruit"]
# len(list1)
# count this items using while loop 
count = 0
for i in list1:
    count = count + 1
    # print(i)
print("total value is:",count)

total value is: 12

In [45]:
i = 1
# len(list1) #12
count = 0
while i<=len(list1):
    # print(i)
    count = count+1
    i+=1
print(count)

12

In [49]:
# 19x1 = 19
# 19x2=38
# 19x3 =57
# 19x4 = 76
# 19x9=171
num = 19

for i in range(1,11):
    print(num,"X",i,"=",num*i)

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [52]:
num = int(input("enter any value:"))
for i in range(1,11):
    print("%dX%d=%d"%(num,i, num*i))

enter any value: 31

31X1=31
31X2=62
31X3=93
31X4=124
31X5=155
31X6=186
31X7=217
31X8=248
31X9=279
31X10=310

In [56]:
# 1-40

# 1-40
# 1 -----10 , 2-----------10 , 3

for i in range(1,41):
    print(f"\nTable of {i}")
    for j in range(1,11):
        print(f"{i}X{j}={i*j}")

Table of 1
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

Table of 2
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

Table of 3
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

Table of 4
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

Table of 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

Table of 6
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

Table of 7
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

Table of 8
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80

Table of 9
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90

Table of 10
10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

Table of 11
11X1=11
11X2=22
11X3=33
11X4=44
11X5=55
11X6=66
11X7=77
11X8=88
11X9=99
11X10=110

Table of 12
12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

Table of 13
13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

Table of 14
14X1=14
14X2=28
14X3=42
14X4=56
14X5=70
14X6=84
14X7=98
14X8=112
14X9=126
14X10=140

Table of 15
15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150

Table of 16
16X1=16
16X2=32
16X3=48
16X4=64
16X5=80
16X6=96
16X7=112
16X8=128
16X9=144
16X10=160

Table of 17
17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170

Table of 18
18X1=18
18X2=36
18X3=54
18X4=72
18X5=90
18X6=108
18X7=126
18X8=144
18X9=162
18X10=180

Table of 19
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

Table of 20
20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200

Table of 21
21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210

Table of 22
22X1=22
22X2=44
22X3=66
22X4=88
22X5=110
22X6=132
22X7=154
22X8=176
22X9=198
22X10=220

Table of 23
23X1=23
23X2=46
23X3=69
23X4=92
23X5=115
23X6=138
23X7=161
23X8=184
23X9=207
23X10=230

Table of 24
24X1=24
24X2=48
24X3=72
24X4=96
24X5=120
24X6=144
24X7=168
24X8=192
24X9=216
24X10=240

Table of 25
25X1=25
25X2=50
25X3=75
25X4=100
25X5=125
25X6=150
25X7=175
25X8=200
25X9=225
25X10=250

Table of 26
26X1=26
26X2=52
26X3=78
26X4=104
26X5=130
26X6=156
26X7=182
26X8=208
26X9=234
26X10=260

Table of 27
27X1=27
27X2=54
27X3=81
27X4=108
27X5=135
27X6=162
27X7=189
27X8=216
27X9=243
27X10=270

Table of 28
28X1=28
28X2=56
28X3=84
28X4=112
28X5=140
28X6=168
28X7=196
28X8=224
28X9=252
28X10=280

Table of 29
29X1=29
29X2=58
29X3=87
29X4=116
29X5=145
29X6=174
29X7=203
29X8=232
29X9=261
29X10=290

Table of 30
30X1=30
30X2=60
30X3=90
30X4=120
30X5=150
30X6=180
30X7=210
30X8=240
30X9=270
30X10=300

Table of 31
31X1=31
31X2=62
31X3=93
31X4=124
31X5=155
31X6=186
31X7=217
31X8=248
31X9=279
31X10=310

Table of 32
32X1=32
32X2=64
32X3=96
32X4=128
32X5=160
32X6=192
32X7=224
32X8=256
32X9=288
32X10=320

Table of 33
33X1=33
33X2=66
33X3=99
33X4=132
33X5=165
33X6=198
33X7=231
33X8=264
33X9=297
33X10=330

Table of 34
34X1=34
34X2=68
34X3=102
34X4=136
34X5=170
34X6=204
34X7=238
34X8=272
34X9=306
34X10=340

Table of 35
35X1=35
35X2=70
35X3=105
35X4=140
35X5=175
35X6=210
35X7=245
35X8=280
35X9=315
35X10=350

Table of 36
36X1=36
36X2=72
36X3=108
36X4=144
36X5=180
36X6=216
36X7=252
36X8=288
36X9=324
36X10=360

Table of 37
37X1=37
37X2=74
37X3=111
37X4=148
37X5=185
37X6=222
37X7=259
37X8=296
37X9=333
37X10=370

Table of 38
38X1=38
38X2=76
38X3=114
38X4=152
38X5=190
38X6=228
38X7=266
38X8=304
38X9=342
38X10=380

Table of 39
39X1=39
39X2=78
39X3=117
39X4=156
39X5=195
39X6=234
39X7=273
39X8=312
39X9=351
39X10=390

Table of 40
40X1=40
40X2=80
40X3=120
40X4=160
40X5=200
40X6=240
40X7=280
40X8=320
40X9=360
40X10=400

In [10]:
# calculate the sum of numbers from 1-n:

num = int(input("Enter ending range: "))
sum1 = 0
for i in range(1,num+1):
    # print(i,end=",")
    sum1 = sum1+i
print(f"The sum of the value is from 1 to given number is {num}:",sum1)

Enter ending range:  30

The sum of the value is from 1 to given number is 30: 465

In [9]:
num1 = int(input("Enter any value: "))
i = 1

sumVal = 0
while i<=num1:
    # print(i)
    sumVal+=i
    i+=1
print(f"The sum of the value is from 1 to given number is {num1}:",sumVal)

Enter any value:  30

The sum of the value is from 1 to given number is 30: 465

In [14]:
# calculate the factorial of the numbers.

num = int(input("Enter any value: "))
fact = 1
for i in range(1,num+1):
    fact = fact*i
    # print(i)
print(f"Factorial of the user given value is {num}:{fact}")

Enter any value:  4

Factorial of the user given value is 4:24

In [17]:
num=int(input("enter any value:"))
fact=1
i=1
while i<=num:
    fact=fact*i
    i=i+1
print(f"Factorial of the user given value is {num}:{fact}")

enter any value: 5

Factorial of the user given value is 5:120

In [20]:
# print all number divisible by 3 and 5 from 1 - 100

i = 1
j = 100

while i<=j:
    # print(i)
    if i%3==0 and i%5!=0:
        print(f"{i} is divisible by only 3 not 5")
    elif i%3!=0 and i%5==0:
        print(f"{i} is divisible by only 5 not 3")
    elif i%3==0 and i%5==0:
        print(f"{i} is divisble by both 3 and 5")
    elif i%3!=0 and i%5!=0:
        print(f"{i} is not divisible by both 3 and 5")
        
    i+=1

1 is not divisible by both 3 and 5
2 is not divisible by both 3 and 5
3 is divisible by only 3 not 5
4 is not divisible by both 3 and 5
5 is divisible by only 5 not 3
6 is divisible by only 3 not 5
7 is not divisible by both 3 and 5
8 is not divisible by both 3 and 5
9 is divisible by only 3 not 5
10 is divisible by only 5 not 3
11 is not divisible by both 3 and 5
12 is divisible by only 3 not 5
13 is not divisible by both 3 and 5
14 is not divisible by both 3 and 5
15 is divisble by both 3 and 5
16 is not divisible by both 3 and 5
17 is not divisible by both 3 and 5
18 is divisible by only 3 not 5
19 is not divisible by both 3 and 5
20 is divisible by only 5 not 3
21 is divisible by only 3 not 5
22 is not divisible by both 3 and 5
23 is not divisible by both 3 and 5
24 is divisible by only 3 not 5
25 is divisible by only 5 not 3
26 is not divisible by both 3 and 5
27 is divisible by only 3 not 5
28 is not divisible by both 3 and 5
29 is not divisible by both 3 and 5
30 is divisble by both 3 and 5
31 is not divisible by both 3 and 5
32 is not divisible by both 3 and 5
33 is divisible by only 3 not 5
34 is not divisible by both 3 and 5
35 is divisible by only 5 not 3
36 is divisible by only 3 not 5
37 is not divisible by both 3 and 5
38 is not divisible by both 3 and 5
39 is divisible by only 3 not 5
40 is divisible by only 5 not 3
41 is not divisible by both 3 and 5
42 is divisible by only 3 not 5
43 is not divisible by both 3 and 5
44 is not divisible by both 3 and 5
45 is divisble by both 3 and 5
46 is not divisible by both 3 and 5
47 is not divisible by both 3 and 5
48 is divisible by only 3 not 5
49 is not divisible by both 3 and 5
50 is divisible by only 5 not 3
51 is divisible by only 3 not 5
52 is not divisible by both 3 and 5
53 is not divisible by both 3 and 5
54 is divisible by only 3 not 5
55 is divisible by only 5 not 3
56 is not divisible by both 3 and 5
57 is divisible by only 3 not 5
58 is not divisible by both 3 and 5
59 is not divisible by both 3 and 5
60 is divisble by both 3 and 5
61 is not divisible by both 3 and 5
62 is not divisible by both 3 and 5
63 is divisible by only 3 not 5
64 is not divisible by both 3 and 5
65 is divisible by only 5 not 3
66 is divisible by only 3 not 5
67 is not divisible by both 3 and 5
68 is not divisible by both 3 and 5
69 is divisible by only 3 not 5
70 is divisible by only 5 not 3
71 is not divisible by both 3 and 5
72 is divisible by only 3 not 5
73 is not divisible by both 3 and 5
74 is not divisible by both 3 and 5
75 is divisble by both 3 and 5
76 is not divisible by both 3 and 5
77 is not divisible by both 3 and 5
78 is divisible by only 3 not 5
79 is not divisible by both 3 and 5
80 is divisible by only 5 not 3
81 is divisible by only 3 not 5
82 is not divisible by both 3 and 5
83 is not divisible by both 3 and 5
84 is divisible by only 3 not 5
85 is divisible by only 5 not 3
86 is not divisible by both 3 and 5
87 is divisible by only 3 not 5
88 is not divisible by both 3 and 5
89 is not divisible by both 3 and 5
90 is divisble by both 3 and 5
91 is not divisible by both 3 and 5
92 is not divisible by both 3 and 5
93 is divisible by only 3 not 5
94 is not divisible by both 3 and 5
95 is divisible by only 5 not 3
96 is divisible by only 3 not 5
97 is not divisible by both 3 and 5
98 is not divisible by both 3 and 5
99 is divisible by only 3 not 5
100 is divisible by only 5 not 3

In [25]:
# print the reverse of given numbers:
num = input("Enter any value: ")
rev = ""  #5613
for i in num:
    # print(i,end="")
    rev = i + rev  # 
print(rev)

Enter any value:  12

21

In [26]:
range(10)

range(0, 10)

In [30]:
num = input("Enter any value: ")

i = 0
rev = ''
while i< len(num):
    # print(num[i])
    rev = num[i] + rev
    i+=1
print("Reversed value is:",rev)

Enter any value:  123

Reversed value is: 321

In [33]:
# count digits in a number using a loop

num = "11565415215"

# len(num)
count = 0
for i in num:
    count+=1
    # print(i)
print(count)

11

In [34]:
# while 

i = 0
count1=0
while i< len(num):
    count1 = count1+1
    i+=1
print(count1)

11

In [35]:
# print all the characters of string using loop

# 'hello world'

In [40]:
# print only vowels from string input by the user.

name = input("enter your name: ")
vowList = []
consList = []
for i in range(len(name)):
    # print(name[i])
    if name[i] in "aeiouAEIOU":
        vowList.append(name[i])
        # print(name[i])
    else:
        # print('Consonent charactesrs is:')
        consList.append(name[i])
print("Vowel Charactrs is:",vowList)
print("Consonent Charactrs is:",consList)

enter your name:  utkarsh

Vowel Charactrs is: ['u', 'a']
Consonent Charactrs is: ['t', 'k', 'r', 's', 'h']

In [51]:
name = input("enter your name: ")
name1 = name.replace(' ','')
i = 0
j = len(name1)
vowList = []
consList = []
while i<j:
    # print(name[i])
    if name[i] in "aeiouAEIOU":
        vowList.append(name1[i])
    else:
        consList.append(name1[i])
    i+=1

    
print("Vowel is:",vowList)
print("Consonenet is:",consList)

enter your name:  Biryani is a mixed rice dish originating in South Asia, traditionally made with rice, meat or seafood, and spices. Biryani is one of the most popular dishes in South Asia and among the South Asian diaspora, though the dish is often associated with the region's Muslim population in particular.

Vowel is: ['i', 'a', 'i', 's', 'i', 'd', 'i', 'i', 'h', 'i', 'a', 'i', 'g', 'n', 'o', 'A', ',', 't', 'i', 'i', 'o', 'y', 'a', 'e', 'w', 't', ',', 'e', 'o', 'f', 'o', 'n', 'd', 'i', '.', 'B', 'r', 'y', 'i', 'f', 'h', 't', 'p', 'l', 'r', 's', 'e', 'i', 't', 's', 'd', 'm', 'n', 'e', 'u', 'A', 'n', 'd', 'p', 'r', 'a', 't', 'g', 't', 'h', 'o', 'f', 'a', 's', 'o', 't', 'e', 'i', 'h', 'e', 'g', 'M', 'l', 'o', 'l', 'i', 'i', 'a', 't', 'i', 'u', '.']
Consonenet is: ['B', 'r', 'y', 'n', 'i', 'a', 'm', 'x', 'e', 'r', 'c', 'e', 'd', 's', 'o', 'r', 'g', 'i', 'n', 't', 'n', 'i', 'S', 'u', 't', 'h', 's', 'i', 'a', 'r', 'a', 'd', 't', 'n', 'a', 'l', 'l', 'm', 'd', 'i', 'h', 'r', 'i', 'c', 'e', 'm', 'a', 't', 'r', 's', 'e', 'a', 'o', 'd', ',', 'a', 's', 'p', 'c', 'e', 's', 'i', 'a', 'n', 'i', 's', 'o', 'n', 'e', 'o', 't', 'e', 'm', 'o', 's', 'p', 'o', 'u', 'a', 'd', 'i', 'h', 's', 'n', 'S', 'o', 'u', 'h', 'A', 'i', 'a', 'a', 'n', 'a', 'o', 'g', 't', 'h', 'S', 'o', 't', 'h', 's', 'i', 'a', 'i', 'a', 's', 'o', ',', 'h', 'o', 'u', 'h', 'h', 'e', 'd', 'i', 's', 'i', 's', 't', 'e', 'n', 's', 'c', 'i', 'a', 'd', 'w', 't', 't', 'h', 'e', 'r', 'i', 'o', 'n', "'", 's', 'u', 's', 'i', 'm', 'p', 'p', 'u', 'a', 't', 'o', 'n', 'n', 'p', 'r', 'c', 'l', 'a', 'r']

In [ ]:
# count total number of every words and display in the new list.
list1 = ['apple',"banana","Pomegranate","Grapes","Litchi","Mango","Guava","Watermelon","Kiwi","Pineapple","Muskmelon","Jackfruit"]
# countWords = [5,6,11,6,6,5]

In [1]:
list1 = ["apple","banana","Pomegranate","Grapes","Litchi","Mango","Guava","Watermelon","Kiwi","Pineapple","Muskmelon","Jackfruit"]
new_list = []
count = 0 
for i in list1:
    new_list.append(len(i))
print("Original list : " ,list1)
print("Countwords: " , new_list)

Original list :  ['apple', 'banana', 'Pomegranate', 'Grapes', 'Litchi', 'Mango', 'Guava', 'Watermelon', 'Kiwi', 'Pineapple', 'Muskmelon', 'Jackfruit']
Countwords:  [5, 6, 11, 6, 6, 5, 5, 10, 4, 9, 9, 9]

In [8]:
list1 = ["apple","banana","Pomegranate","Grapes","Litchi","Mango","Guava","Watermelon","Kiwi","Pineapple","Muskmelon","Jackfruit"]
newList = [] # 5,6
for i in range(len(list1)): #banana
    wordsCount=0  # 123456
    for j in list1[i]:  # banana
        wordsCount = wordsCount+1
        # print(j)
    newList.append(wordsCount)
print(newList)

[5, 6, 11, 6, 6, 5, 5, 10, 4, 9, 9, 9]

In [9]:
list1 = ["apple","banana","Pomegranate","Grapes","Litchi","Mango","Guava","Watermelon","Kiwi","Pineapple","Muskmelon","Jackfruit"]
new_list = []
i = 0
while i < len(list1):
    wordCount = 0
    j = 0
    while j < len(list1[i]):
        wordCount = wordCount+1
        j+=1       
    new_list.append(wordCount)
    i+=1
print(new_list)

[5, 6, 11, 6, 6, 5, 5, 10, 4, 9, 9, 9]

In [14]:
list1 = ["apple","banana","Pomegranate","Grapes","Litchi","Mango","Guava","Watermelon","Kiwi","Pineapple","Muskmelon","Jackfruit"]
print(list1)
newList=[]
i = 0

while i<len(list1):
    # print(list1[i])
    wordsCount = 0
    j=0
    while j<len(list1[i]):
        # print(j)
        wordsCount+=1
        j+=1
    newList.append(wordsCount)
    i+=1
print("Total number of words in the list is:",newList)

['apple', 'banana', 'Pomegranate', 'Grapes', 'Litchi', 'Mango', 'Guava', 'Watermelon', 'Kiwi', 'Pineapple', 'Muskmelon', 'Jackfruit']
Total number of words in the list is: [5, 6, 11, 6, 6, 5, 5, 10, 4, 9, 9, 9]

In [21]:
# Find the maximum value in a list using a loop

lst = [5,8,2,10,11,3,6]
# max(lst)

maxVal = lst[0] 
# print(maxVal)

for num in lst:
    if num> maxVal:
        maxVal = num
print("The Maximum Value is:",maxVal)

The Maximum Value is: 11

In [22]:
# lst = [5,8,2,10,11,3,6]

# find the smallest value in the list using while loop 

list1 = [5, 8, 2, 10, 11, 3, 6]
minVal = list[0]

for num in list1:
    if num < minVal:
        minVal = num
        
print("The Minimum Value is:", minVal)

The Minimum Value is: 2

In [ ]:
# lst = [5,8,2,10,11,3,6]

# find the smallest value in the list using while loop

In [23]:
lst = [5, 8, 2, 10, 11, 3, 6]

i=0
minval=lst[0]

while i <len(lst):
    if lst[i]<minval:
        minval=lst[i]
    i+=1

print(minval)

2

In [25]:
list2 = [5, 8, 2, 10, 11, 3, 6]
minVal = list[0]
i = 1 
while i < len(list2):
    if list2[i] < minVal:
        minVal = list2[i]
    i = i + 1
print("The Minimum Value is:", minVal)

The Minimum Value is: 2

In [32]:
list2 = [5, 8, 2, 10, 11, 3, 6,1,-10]


minVal = list2[0]
i = 0

while i<len(list2):
    # print(list2[i])
    if list2[i]< minVal:
        minVal = list2[i]
    i+=1
print(f"Mininum value in the list is:",minVal)

Mininum value in the list is: -10